body {
    background-color: aquamarine;
}

.game {
    width: 600px;
    height: 200px;
    border: 5px solid rgb(255, 255, 255);
    margin: auto;

}




#dino{
    width: 50px;
    height: 50px;
    background-image: url(Images/trex-removebg-preview.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}


.jump {
    animation: jump 0.35s linear;
}


@keyframes jump {
    0% {
        top: 150px;

    }

    12.5% {
       top: 131.25px;
    }

    25%{
        top: 112.5px;

    }


    50% {
        top: 75px;
    }

    75% {
        top: 112.5px;

    }

    82.5% {
        top: 140px;
     }
    

    100% {
        top: 150px;
    }
}


 
#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;


    background-image: url("Images/cactus-removebg-preview.png");
    background-size: 20px 40px;

    animation: block 1s infinite linear;
}



@keyframes block {
    0%{
        left: 580px;
    }

    100%{
        left: -20px;
    }
}

#message {
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    color: #ffffff; /* Set the text color to white */
    text-align: center;
    margin-top: 70px; /* Adjust the margin as needed */
    position: relative; /* Position relative for precise placement */
    top: 10px; /* Adjust the top position as needed */
}

#message2 {
    font-family: cursive, sans-serif; /* Replace 'YourCoolFont' with the desired font name or font-family */
    font-size: 20px;
    color: #ffffff; /* Set the text color to white */
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
    position: relative; /* Position relative for precise placement */
    top: -30px; /* Adjust the top position as needed */
}
#message25 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 22px;
    color: #ffffff; /* Set the text color to white */
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
    position: relative; /* Position relative for precise placement */
    top: -150px; /* Adjust the top position as needed */
}




#message3 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 22px;
    color: #ffffff; /* Set the text color to white */
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
    position: relative; /* Position relative for precise placement */
    top: 0px; /* Adjust the top position as needed */
}





@keyframes block {
    0%{
        left: 580px;
    }

    100%{
        left: -20px;
    }
}




/* CREATED ON DEC 13 2023
